.input {
  position: relative;
  background-color: #f4f5f5;
  border: 1px solid #f4f5f5;
  color: #26302e;
  font-size: 1em;
  height: auto;
  min-height: 100px;
  line-height: 50px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0px 15px;
  cursor: pointer;
}

.label {
  color: rgba(38, 48, 46, 0.5);
  cursor: text;
  font-size: 1em;
  font-weight: 800;
  text-align: left;
  transition: ease 0.2s;
  margin-left: 10px;

  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}

.files {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  color: #26302e;
  font-size: 1em;
}

.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  line-height: 1.6em;
  flex-wrap: nowrap;
  color: gray;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Verdana, Arial;
  padding: 16px 16px;
  margin: 5px 0;
  background-color: #f4f5f5;
  border: 1px solid #f4f5f5;
  border-radius: 10px;
}

.fileName {
  position: relative;
  width: 100%;
  min-width: 10%;
  height: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fileExt {
  position: relative;
  margin-left: 15px;
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .file {
    flex-direction: column;
    text-align: center;
  }

  .fileName {
    text-align: center;
  }

  .fileExt {
    margin-left: 0px;
  }
}

.fileRemove {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s background-color ease;

  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}

.fileRemove:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fileRemove::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'x';
  color: gray;
  font-size: 14px;
  font-weight: normal;
}

.selecteds {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.input:hover .icon,
.input:hover::after {
  color: #26302e;
}

.wrappericon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 100%;
  min-width: 64px;
  max-width: 128px;
  height: auto;
  color: gray;
  transition: 0.2s color ease;

  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}

.input::after {
  position: relative;
  width: 80%;
  height: auto;
  line-height: 1.6em;
  color: gray;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Verdana, Arial;
  text-align: center;
  transition: 0.2s color ease;

  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}
.input[text]::after {
  content: attr(text);
}
.input[text='']::after {
  content: 'Clique aqui para selecionar um arquivo ou apenas arraste-o.';
}

.border {
  border: 2px dotted #27ab8f;
}
